<mat-toolbar color="primary">
  <span>FuzzyTrader</span>
  <span class="header-spacer"></span>
  <div class="nav-links">
    <a mat-raised-button color="primary">Primary</a>
    <a mat-raised-button color="primary">Primary</a>
    <a mat-raised-button color="primary">Primary</a>
    <a mat-raised-button color="primary">Primary</a>
    <a mat-raised-button color="primary">Primary</a>
  </div >
  <span class="header-spacer"></span>
  <div class="auth-links">
    <button mat-icon-button aria-label="login" matTooltip="login">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button aria-label="logout" matTooltip="logout">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button aria-label="profile settings" matTooltip="profile settings">
      <mat-icon>manage_accounts</mat-icon>
    </button>
  </div>
</mat-toolbar>
