<mat-toolbar color="primary" class="header">
  <span class="header--logo-text">
    <a [routerLink]="['/home']"> FuzzyTrader </a>
  </span>
  <span class="header--spacer"></span>
  <div class="header--nav-links">
    <ng-container *ngIf="tokenService.accessToken$ | async">
      <button routerLink="/available-investments" mat-raised-button color="primary">Available Investments</button>
      <button routerLink="/my-wallet" mat-raised-button color="primary">My Wallet</button>
    </ng-container>
  </div>
  <span class="header--spacer"></span>
  <div class="header--auth-links">
    <ng-container *ngIf="tokenService.accessToken$ | async; else login">
      <button (click)="logout()" mat-icon-button aria-label="logout" matTooltip="logout">
        <mat-icon>logout</mat-icon>
      </button>
      <button routerLink="/user-profile" mat-icon-button aria-label="profile settings" matTooltip="profile settings">
        <mat-icon>manage_accounts</mat-icon>
      </button>
    </ng-container>
    <ng-template #login>
      <button routerLink="/login" mat-icon-button aria-label="login" matTooltip="login">
        <mat-icon>login</mat-icon>
      </button>
      <button routerLink="/signup" mat-icon-button aria-label="signup" matTooltip="signup">
        <mat-icon>person_add</mat-icon>
      </button>
    </ng-template>
  </div>
</mat-toolbar>
