<app-header></app-header>
<section class="auth-form">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h3>Forgot Password</h3>
    <div class="form-group">
      <mat-form-field hintLabel="Please enter a valid email" appearance="fill" [color]="'primary'">
        <mat-label>Email</mat-label>
        <input matInput [type]="'email'" required formControlName="email" placeholder="example@email.com" />
      </mat-form-field>
      <ng-container *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert">
        <p style="color: #ee5253">Invalid email</p>
      </ng-container>
    </div>

    <div class="auth-form--button-container">
      <button
        (click)="submit()"
        color="accent"
        mat-fab
        aria-label="redefine password"
        type="submit"
        matTooltip="redefine password"
      >
        <mat-icon>lock_open</mat-icon>
      </button>
    </div>

    <p>Don't have an account? <a routerLink="/signup">signup</a></p>
    <p>Already registered? <a routerLink="/login">login</a></p>
  </form>
</section>
<app-footer></app-footer>
