<app-header></app-header>

<section class="main">
  <div class="main--item-wrapper">
    <div class="main--item">
      <span><i></i></span>
      <h3>Why us?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare elementum interdum. Vestibulum
        condimentum dignissim justo, vitae malesuada orci congue ac
      </p>
    </div>
    <div class="main--item">
      <span><i></i></span>
      <h3>Checkout and invest</h3>
      <p>
        Maecenas bibendum risus in nulla feugiat euismod. Praesent tempor quam posuere neque accumsan maximus. Aenean
        nec est magna
      </p>
    </div>
    <div class="main--item">
      <span><i></i></span>
      <h3>Some other sentence</h3>
      <p>Mauris venenatis eleifend lorem, ac accumsan nunc consectetur quis. Aliquam erat volutpat.</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
